<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>

<form [formGroup]="formGroup"  fxLayout="column" (ngSubmit)="submit(formGroup.value)" class="form">
    <div style="display: flex;flex-direction: column;">
        <mat-form-field *ngIf="add==true || edit==true" class="form-element">
            <input matInput placeholder="healthIndex" formControlName="healthIndex">
        </mat-form-field>
    
        <mat-form-field *ngIf="add==true || edit==true" class="form-element">
            <input matInput placeholder="endDate" formControlName="endDate">
        </mat-form-field>

        <mat-form-field *ngIf="add==true || edit==true" class="form-element">
            <input matInput placeholder="minValueDateTime" formControlName="minValueDateTime">
        </mat-form-field>

        <mat-form-field *ngIf="add==true || edit==true" class="form-element">
            <input matInput placeholder="type" formControlName="type">
        </mat-form-field>

        <mat-form-field *ngIf="add==true || edit==true" class="form-element">
            <input matInput placeholder="cowId" formControlName="cowId" [readonly]="edit==true">
        </mat-form-field>

        <mat-form-field *ngIf="add==true || edit==true" class="form-element">
            <input matInput placeholder="animalId" formControlName="animalId" [readonly]="edit==true">
        </mat-form-field>

        <mat-form-field *ngIf="add==true || edit==true" class="form-element">
            <input matInput placeholder="eventId" formControlName="eventId" [readonly]="edit==true">
        </mat-form-field>

        <mat-form-field *ngIf="add==true || edit==true" class="form-element">
            <input matInput placeholder="deletable" formControlName="deletable">
        </mat-form-field>

        <mat-form-field *ngIf="add==true || edit==true" class="form-element">
            <input matInput placeholder="lactationNumber" formControlName="lactationNumber">
        </mat-form-field>

        <mat-form-field *ngIf="add==true || edit==true" class="form-element">
            <input matInput placeholder="daysInLactation" formControlName="daysInLactation">
        </mat-form-field>

        <mat-form-field *ngIf="add==true || edit==true" class="form-element">
            <input matInput placeholder="startDateTime" formControlName="startDateTime">
        </mat-form-field>

        <mat-form-field *ngIf="add==true || edit==true" class="form-element">
            <input matInput placeholder="reportingDateTime" formControlName="reportingDateTime">
        </mat-form-field>
    </div>

</form>

</div>
<div mat-dialog-actions>
    <div *ngIf="doc==true">
        1. Angular 11 CLI environment<br>
        2. Angular Material 11<br>
        3. Mock DataBase with Backend:<br>
            <p>* npm install -g json-server</p>
            <p>* npm run json-server</p>
            <p>* data location: http://localhost:3000/result</p>
    </div>
    <p *ngIf="delete==true">Are you sure you want to delete?</p><br>
    <button *ngIf="delete==true" mat-raised-button color="warn" style="margin-left: 20px;" (click)="doAction()">{{action}}</button>
    <button *ngIf="add==true" mat-raised-button color="primary" style="margin-left: 20px;" (click)="doAction()">{{action}}</button>
    <button *ngIf="edit==true" mat-raised-button color="primary" style="margin-left: 20px;" (click)="doAction()">{{action}}</button>
    <button mat-raised-button color="basic" (click)="closeDialog()" mat-flat-button>Cancel</button>
</div>


